            <div id="primeira">
                    <input class="form-control" id="quantidade2" ng-model="quantidade2" name="quantidade2" type="number" min="1" max="99"  placeholder="Qtd."/>
                    <br />
                    <input class="form-control" id="valor2" ng-model="valor2" name="valor2" type="number" min="1" max="5" placeholder="Valor R$"/>
                    <br />
                    <input class="form-control" id="number" ng-model="unidade2" min="1" max="9999" name="unidade2" type="text"  placeholder="Unidade"/>
                    <br />
                    <select class="form-control" name="medida2" ng-model="medida2" ng-options="medida.label | uppercase for medida in medidas" placeholder="Medida"/>
                        <option value="">-------- Selecione a medida --------</option>
                    </select>
            </div>
